/* p{
    background-color: rgb(176, 104, 104);
} */
/* @import url(./Anotherstyle.css); */
a{
    color: black;
    /* font-size: 30px; */
}
span{
    background-color: palegoldenrod;
}

.addColor{
    color: red;
}

#myId em{
    color: rgb(14, 250, 171);
}
#myId .myClass{
    color: red;
}
.myContent > p{
    background-color: red;
}